button {
    height:30px;
    width:90px;
    margin: 15px;
}
.angry {
    border: 4px solid red;
}
table {
    width: 66%;
}
thead tr {
    margin-bottom: 45px;
}
th {
    font-size: 32px;
    border: 2px solid black;
}
.nobreak {
    display: inline-block;
}
.wrap {
    word-wrap:break-word;
}
.red {
    color: red;
    font-style: italic;
    margin-left: 5px;
}
.green {
    color: green;
    margin-left: 5px;
}